{% extends 'base.html' %}


{% block content %}

<div class="container">

  <div class="card" style="width:400px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Electronics</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="view_info/?category=Electronics" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <br>

     <div class="card" style="width:400px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Clothing</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="view_info/?category=Clothing" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <br>


  <div class="card" style="width:400px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Stationary</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="view_info/?category=Stationary" class="btn btn-primary">See Profile</a>
    </div>
  </div>
    <br>


  <div class="card" style="width:400px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Sports</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="view_info/?category=Sports" class="btn btn-primary">See Profile</a>
    </div>
  </div>
    <br>



  <div class="card" style="width:400px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Cosmetics</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="view_info/?category=Cosmetics" class="btn btn-primary">See Profile</a>
    </div>
  </div>
    <br>

</div>

{% endblock %}